* {
  box-sizing: border-box;
}
:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-cyan-ligth: hsl(179, 72%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --bright-yellow-dark: hsl(71, 63%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

/* default width is 375px, I use first mobile design. */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.main,
.subscription,
.why-us {
  padding: 25px;
}

.title {
  margin-top: 0;
  color: var(--color-cyan);
  font-weight: 600;
}

.subtitle {
  color: var(--bright-yellow);
}

.description {
  color: var(--grayish-blue);
  line-height: 1.5rem;
}

.subscription {
  background-color: var(--color-cyan);
  color: #fff;
}

.price {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
}

.month {
  color: var(--light-gray);
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 5px;
}

.access {
  margin-top: 5px;
  font-size: 1.1rem;
}

.sign-up {
  padding: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  background-color: var(--bright-yellow);
  margin-top: 18px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.sign-up:hover {
  background-color: var(--bright-yellow-dark);
}

.why-us {
  background-color: var(--color-cyan-ligth);
  color: #fff;
}

.why-description {
  color: var(--light-gray);
  width: 75%;
  line-height: 25px;
}

@media (min-width: 762px) and (max-width: 1440px) {
  body {
    display: grid;
    align-items: center;
    height: 100vh;
  }
  .description {
    width: 50%;
  }

  .sign-up {
    width: 50%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
